header {
    display: flex;
    justify-content: space-between;
    margin: 30px 5%;
}



.quizSection {
    margin: 10px auto;
    height: 15%;
    width: 45%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.quizCheck {
    margin: 10px auto;
    height: 15%;
    width: 45%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.startBtn {
    width: 20%;
    margin: 0 auto;
}

.quizQuestion {
    width: 100%;
    margin: 0px auto 30px auto;
}

.question {
    text-align: left;
    font-size: 30px;
}

.quizAnswer {
    display: flex;
    flex-direction: column;
    width: 20%;
}

.quizAnswer button {
    margin: 4px;
}

.initialSub {
    display: flex;
}

.initialSub input, .initialSub button {
    margin: 20px 10px;
}
